<!DOCTYPE html>
<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>
    <body>
        <header>
            <img src="/img/dogcat.jpg" alt="dog and cat">
        </header>
        {{{body}}}
    </body>
</html>