<!DOCTYPE html>
<html>
  <head><link rel="stylesheet" type="text/css" href="/styles/main.css"></head>
<body>
  </div>
  <h2>Details for: {{title}}</h2>
  {{#if result}}
    <li><strong>Title:</strong> {{ result.title }}</li>
    <li><strong>Lead Actor</strong> {{ result.leadActor }}</li>
    <li><strong>Lead Actress:</strong> {{ result.leadActress }}</li>
    <li><strong>Release Date:</strong> {{ result.releaseDate }}</li>
    
    
    <p id="left"><a href="/delete?title={{ result.title }}">Delete</a></p>
    <p id="right"><a href="/">New Search</a></p>
  {{else}}
    There is no record for that film.
  {{/if}}
  </div>
</body>
</html> 